<h1>StaticPages#landing_page</h1>


<html lang="en">
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Event party</title>
		<link type="text/css" rel="stylesheet" href="style.css">
	</head>
	<body>

		<figure>
			<img width="100%" src="http://res.cloudinary.com/duqzvuawc/image/upload/v1508813538/harbor_d2rhpy.png">
		</figure>

		<article>
			<%= link_to "Evenements", events_path %>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis leo neque, cursus non arcu id, volutpat tincidunt magna. Ut sit amet vehicula sapien. Donec nec vehicula tortor. Nam tincidunt ut lorem nec porttitor. Mauris accumsan, orci at vehicula condimentum, lorem nisl feugiat sapien, sed varius erat nisl a dolor. Donec vehicula mauris eu nunc porta, quis rutrum enim bibendum. Donec laoreet venenatis sagittis.  </p>
			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean euismod consequat maximus. Cras feugiat augue vel eros efficitur porta. Sed eget sem sed tellus sagittis facilisis tempor vitae magna. Morbi varius faucibus nunc, sit amet ornare sapien efficitur vitae. Nulla condimentum urna at ligula commodo rutrum. Proin rhoncus in nunc ut finibus. Sed consectetur dolor a quam pulvinar iaculis.</p>
		    <%= link_to "se connecter",  new_user_session_path %>
		</article>

	</body>
</html>