<div class="container">
  <h1>Modfier evenement</h1>
  <div class="row">
    <%= render 'form', event: @event %>
    <%= link_to 'Voir', @event %> |
    <%= link_to 'Retour', events_path %>
  </div>
</div>